@import 'reset.css';
@import '_colors';
@import 'jeet';

html {
	font: 400 16px/1.6 'Gentium Book Basic', serif;
	color: #222;
}

p {
	font: 400 16px/24px 'gentium book basic';
	padding-bottom: 20px;
}

p a {
	color: $red;
	text-decoration: none;
	border-bottom: 2px solid;
}

em {
	font-style: italic;;
}

#loader {
	position: fixed;
	top: 0; bottom: 0;
	left: 0; right: 0;
	background: white;
	z-index: 1000;
	transition: opacity 0.6s, z-index 0.1s 0.6s;

	i {
		position: absolute;
		top: 50%; left: 50%;
		transform: translate(-50%,-50%);
		font-size: 45px;
		color: $red;
	}

	&.is-ready {
		opacity: 0;
		z-index: -1;
	}

}

.hero-full {
	position: relative;
	width: 100%;
	height: 100vh;
	background: url('../img/library.jpeg') no-repeat;
	background-size: cover;

	.logo {
		position: relative;
		top: 40vh;
		max-width: 250px;
	}
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;

	&.top {
		text-align: center;
		width: 33%;
		background: $grey;
		z-index: 5;
	}

	&.red {
		background: $red;
		width: 34.5%;
		z-index: 2;
	}

	&.brown {
		background: $brown;
		width: 34%;
		z-index: 3;
	}

	&.black {
		background: $slate;
		width: 33.5%;
		z-index: 4;
	}
}

.margin-container {
	max-width: 750px;
	margin: 0 auto;
	overflow: hidden;
}

.btn {
	background: $red;
	font-family: 'Open Sans';
	color: white;
	border: none;
	text-decoration: none;
	outline: none;
	padding: 14px 35px;
	border-radius: 3px;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	margin-top: 10px;
	display: inline-block;
	transition: background 0.1s;

	&:hover {
		background: lighten($red, 5%);
	}

	i {
		padding-left: 5px;
	}
}

.page-section {
	padding: 100px 20px;
}

.section-title {
	font-size: 40px;
	font-style: italic;
	text-align: center;

	strong {
		font: 800 54px/1.2 'Open Sans', sans-serif;
		display: block;
		text-transform: uppercase;
	}
}

#about .margin-container {
	text-align: center;
}

.author {
	font: 800 17px/1.2 'Open Sans', sans-serif;
	overflow: hidden;
	text-transform: uppercase;
	margin: 20px 0;
	display: block;
	text-align: center;

	span {
		position: relative;
		display: inline-block;

		&:before,
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			width: 500%;
			height: 1px;
			background-color: #222;
		}

		&:before {
			right: 100%;
			margin-right: 1em;
		}

		&:after {
			left: 100%;
			margin-left: 1em;
		}
	}
}

.content-row {
	@include cf();
	padding: 30px 0;
}

.col-1of2 {
	@include col(1/2);
	text-align: left;
}

#book {
	background: #eee;

	.book-cover {
		float: left;
		width: 50%;
		margin: 0 30px 30px 0;
	}

	.past-years {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}

	.book-cta {
		background: lighten($slate, 10%);
		color: white;
		padding: 40px 50px;
		border-radius: 3px;
		position: relative;

		p {
			padding-bottom: 0;
		}

		h2 {
			font-size: 25px;
			font-style: italic;
			padding-bottom: 20px;
			text-align: center;
			text-shadow: 1px 1px lighten(black, 20%);
			letter-spacing: 0.5px;
		}

		h2:after {
			content: '';
			display: block;
			height: 1px;
			width: 50px;
			margin: 0 auto;
			background: white;
			margin-top: 20px;
		}
	}
}

#twitter {
	background-color: $slate;
	color: white;

	.author span:before,
	.author span:after {
		background-color: #fff;
	}
}

#twitter-container {
	padding: 0 50px;

	img {
		display: none;
	}

	li {
		padding-left: 100px;
		margin: 60px 0;
		position: relative;

		&:before {
			content: "\f099";
			font-family: 'FontAwesome';
			position: absolute;
			font-size: 25px;
			left: 20px; top: 19px;
		}

		&:after {
			content: '';
			width: 60px;
			height: 60px;
			position: absolute;
			left: 0; top: 0;
			border: 1px solid;
			border-radius: 50%;
		}
	}

	a {
		text-decoration: none;
		color: $red;
	}

	p {
		padding: 0;
	}
}

#storyteller {

	.storyteller-content {
		padding-top: 50px;
	}

	img {
		float: left;
		margin: 0 30px 30px 0;
	}

	.storyteller-copy {
		text-shadow: none;
	}
}

#events {
	background-color: $slate;
	color: white;

	.author span:before,
	.author span:after {
		background-color: #fff;
	}
}

.events-list li:last-child {
	margin-bottom: 0;
}

.event {
	display: block;
	background: repeating-linear-gradient(45deg, white, white 10px, lighten($slate, 30%) 10px, lighten($slate, 30%) 20px);
	border-radius: 2px;
	font-family: 'Pinyon Script', cursive;
	text-align: center;
	color: #222;
	margin-bottom: 40px;
	padding: 18px;
	position: relative;

	small {
		font-size: 30px;
		margin-bottom: 16px;
		display: block;
	}

	h2 {
		font-size: 70px;
		padding-bottom: 30px;
	}

	p {
		padding-bottom: 30px;
	}
}

.event-inner {
	background: url('../img/post-mark.png') no-repeat 30px 10px,
				white;
	background-size: 250px;
	padding: 80px 75px 25px;
}

#sponsors {

	.content-row {
		padding: 60px 0 0;
	}

	.sponsor-list {
		@include cf();
	}

	.sponsor {
		margin-bottom: 40px;
		position: relative;
		@include col(1/2, $cycle: 2);

		span {
			margin-left: 60px;
			display: inline-block;
			line-height: 1.5;
		}
	}

	.fa-certificate {
		color: $red;
		font-size: 45px;
		position: absolute;
		top: 50%; left: 0%;
		transform: translateY(-50%);
	}

}

#disqus_thread {
	padding-top: 50px;
}

.sidebar {
	position: fixed;
	top: 50%;
	left: 100px;
	transform: translateY(-50%);
}

.sidebar-item {
	color: $red;
	display: block;
	padding: 10px 5px 10px 25px;
	font-size: 15px;
	text-decoration: none;
	position: relative;
	color: rgba(218,99,93,0);
	transition: color 0.2s;

	&:hover {
		color: rgba(218,99,93,1);
	}

	&:hover .bauble {
		background: transparent;
		border: 1px solid $red;
		transform: scale(1);
	}

}

.bauble {
	content: '';
	width: 10px;
	height: 10px;
	background-color: $red;
	border-radius: 50%;
	position: absolute;
	left: 3px;
	top: 11px;
	transform: scale(0.5);
	transition: transform 0.2s;
}